<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>${data.title}</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="me" href="https://github.com/yvg">
    <link rel="me" href="https://indieweb.social/@yvg">
    <link rel="webmention" href="https://webmention.io/yves.vg/webmention">
  </head>

  <body>
    <nav>
      <a class="site" href="/">Yves Van Goethem</a>
      <ul>
        <li><a href="/blog/" aria-current="page">Blog</a></li>
        <li><a href="/cv/">CV</a></li>
        <li><a href="/motivations.html">Motivations</a></li>
      </ul>
    </nav>

    <main>
      ${html}
    </main>

    <footer>
      <p>
        <a href="/blog/rss.xml">RSS</a>
        <a href="https://indieweb.social/@yvg">Mastodon</a>
        <a href="https://github.com/yvg">GitHub</a>
        <a href="https://www.linkedin.com/in/yvg/">LinkedIn</a>
      </p>
      <p>Yves Van Goethem, all rights reserved.</p>
      <p>No cookies 🖤</p>
    </footer>
  </body>
</html>
